/*index.css*/

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-center {text-align: center;}
.h-25 {height: 25%;}
.p-3 {padding: 15px;}
.bg-secondary {background-color: lightslategray;}
.bg-success {background-color: forestgreen;}
.bg-warning {background-color: orange;}
.bg-danger {background-color: darkred;}


/*FLEXBOX properties*/

/*display flex*/
.d-flex {display: flex;}

/*horizontally centers display flex elements*/
.justify-content-center {
	justify-content: center;
}

/*vertically centers display flex elements*/
.align-items-center {
	align-items: center;
}

/*tells the direction of how the elements 
are positioned inside a flex container*/
.flex-column {flex-direction: column;}
.flex-column-reverse {flex-direction: column-reverse;}